if poweredBy || contact
  div.footer-notice
    p.note
      if poweredBy
        a(href="#")
          = t('powered-by')
      if contact
        if poweredBy
          != '&nbsp;&nbsp;&ndash;&nbsp;&nbsp;'
        a(href='mailto:'+contact)
          = t('contact')
