div.message-box.list-loader
  div.message-wrap
    div.padding-box1
    div.fixed-box
      div.info-box
        h1
          span.fa.fa-spin.fa-spinner
          != '&nbsp;'
          span= t('loading')
    div.padding-box2
